.PostCard {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 10px;
  border-bottom: 0.8px solid #8c8e9251;
}

.img_container {
  width: 15%;
  display: flex;
  justify-content: end;
  padding: 8px 0;
}

.profile_pic {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  object-fit: cover;
}

.post_content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 20px;
}

.user_name {
  cursor: pointer;
  font-weight: bold;
  color: #2b2c30;
}

.user_email {
  font-size: 0.7rem;
  color: #a7aab2;
}

.user_email:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user_info {
  display: flex;
  justify-content: space-between;
}

.post_content p {
  font-size: 0.8em;
}

.post_icons {
  font-size: 2rem;
  cursor: pointer;
  /* color: #71767b; */
}

.post_icons:hover {
  font-weight: bold;
  transform: scale(1.1);
}
.upload:hover,
.comment:hover {
  color: rgb(29, 155, 240);
}

.retweet:hover {
  color: rgb(0, 186, 124);
}

.heart:hover {
  color: rgb(249, 24, 128);
}

.icons_container {
  display: flex;
  justify-content: space-between;
}

.post_icons {
  width: 18px;
}

.icons_container div {
  display: flex;
  align-items: center;
  gap: 5px;
}
